{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Admin <small>Server Settings</small>
        </h1>
             <ol class="breadcrumb">
           <li>
						 <i class="fa fa-sliders"></i> <a href="{{url_for('index')}}">Dashboard</a>
          </li>
					<li class="active">Server Settings</li>
       </ol>
    </div>
</div>
{% include "flash.html" %}
<div class="row">
	<div class="col-lg-4">
		<h3>General Settings</h3>
		<div class="box">
			<form name="sform" class="form-horizontal" method="post" action="{{url_for('AdminServerSetGeneral')}}">
          <div class="form-group">
						{{ sform.port.label(class="col-sm-2 control-label") }}
						<div class="col-sm-10">
							{{ sform.port(class="form-control") }}
						</div>
					</div>
					<div class="form-group">
						{{ sform.debug.label(class="col-sm-2 control-label") }}
						<div class="col-sm-10">
							{{ sform.debug(class="form-control") }}
						</div>
					</div>
					<div class="form-group">
						{{ sform.logging.label(class="col-sm-2 control-label") }}
						<div class="col-sm-10">
							{{ sform.logging(class="form-control") }}
						</div>
					</div>
					<div class="form-group">
						{{ sform.sqldriver.label(class="col-sm-2 control-label") }}
						<div class="col-sm-10">
							{{ sform.sqldriver(class="form-control") }}
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-default">Update</button>
						</div>
					</div>
				</form>
      </div>
	</div>
	<div class="col-lg-4">
		<h3>Database Settings</h3>
		<div class="box">
				<form class="form-horizontal">
          <div class="form-group">
						<label for="dbsettings" class="col-sm-2 control-label">First</label>
						<div class="col-sm-10">
							<select class="form-control" id="dbsetting">
								<option>Local(SQLite)</option>
								<option>MySQL/MariaDB</option>
								<option>PostgreSQL</option>
							</select>
						</div>
						<label for="Local(SQLLite)" class="col-sm-2 control-label">First</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="Local(SQLLite)" placeholder="test" value="test">
						</div>
          </div>
				</form>
      </div>
	</div>	
	<div class="col-lg-4">
		<h3>SNMP Settings</h3>
		<div class="box">
			<form class="form-horizontal">
        <div class="form-group">
					<label for="#" class="col-sm-2 control-label">First</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="#" placeholder"Email" value="First">
          </div>
        </div>
			</form>
    </div>
	</div>
</div>
<script>
$(document).ready(function() {
	$(":checkbox").bootstrapSwitch();
	$(":checkbox").bootstrapSwitch('size','small');
});
</script>
{% endblock %}
