{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
					Admin <small>Group {{Group.name}}</small>
				</h1>
             <ol class="breadcrumb">
           <li class="active">
						 <i class="fa fa-map-marker"></i><a href="{{url_for('index')}}"> Dashboard</a>
          </li>
					<li class="active">Node List</li>
       </ol>
    </div>
</div>
{% include "flash.html" %}
{% from "admin/macros/group.html" import GroupInfo %}
{% from "macros/map.html" import MapGroup %}
{% from "macros/message.html" import Inbox %}
{% from "macros/user.html" import List %}

<div class="row">
	<div class="col-lg-10">
		{{MapGroup(200, Group.nodes)}}
	</div>
	<div class="col-lg-2">
		<h3>Info</h3>
		{{GroupInfo(Group)}}
	</div>
</div>
<div class="row">
	<div class="col-lg-6">
		<h3>Messages</h3>
		{{Inbox(Group.messages)}}
	</div>
	<div class="col-lg-6">
		<h3>Users</h3>
		{{List(Group.users)}}
	</div>
</div>
<script>
$(document).ready(function() {
});
</script>

{% endblock %}
