{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Admin <small>Group List</small>
        </h1>
             <ol class="breadcrumb">
           <li class="active">
						 <i class="fa fa-map-marker"></i><a href="{{url_for('index')}}"> Dashboard</a>
          </li>
					<li class="active">Group List</li>
       </ol>
    </div>
</div>
{% include "flash.html" %}
{% from "macros/group.html" import ListGroups with context %}
{% from "admin/modals/group.html" import CreateGroup with context %}
<div class="row">
	 <div class="col-lg-12">
		 <div class="panel panel-primary">
			 <div class="panel-heading">
				Group List
				<div class="floatRight" id="createGroup"></div>
			 </div>
			 <div class="panel-body" style="padding: 0;">
				 {{ ListGroups(groups) }}
			 </div>
		</div>
  </div>
</div>
{{ CreateGroup() }}
<script>
$(document).ready(function() {
	{% if current_user.has_role("superuser") %}
	$('#createGroup').prepend('<a style="color: #FFFFFF;" href="#" data-toggle="modal" data-target="#createGroupModal" style="position: absolute; right: 0; margin-right: 1vw;"><i class="fa fa-plus" aria-hidden="true"></i></a>');
	{% endif %}
});
</script>

{% endblock %}
