{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Admin <small>MQTT</small>
        </h1>
             <ol class="breadcrumb">
           <li class="active">
            <i class="fa fa-sliders"></i> Admin
          </li>
       </ol>
    </div>
</div>



<div class="row">
    <div class="col-lg-6">
			<div class="box">
				<h2>MQTT 1</h1>
				<form action="" method="post" class="form-horizontal">
					<div class="form-group">
						<label for="#" class="col-sm-2 control-label">Enabled</label>
						<div class="col-sm-10">
							<input type="checkbox" class="my-checkbox form-control" unchecked>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="box">
				<h2>MQTT 1</h1>
				<form action="" method="post" class="form-horizontal">
					<div class="form-group">
						<label for="#" class="col-sm-2 control-label">Enabled</label>
						<div class="col-sm-10">
							<input type="checkbox" class="my-checkbox form-control" disabled>
						</div>
					</div>
				</form>

			</div>
		</div>
		<div class="col-lg-6">
			<div class="box">
				<h2>MQTT 1</h1>
				<form action="" method="post" class="form-horizontal">
					<div class="form-group">
						<label for="#" class="col-sm-2 control-label">Enabled</label>
						<div class="col-sm-10">
							<input type="checkbox" class="my-checkbox form-control" disabled>
						</div>
					</div>
				</form>

			</div>
		</div>
		<div class="col-lg-6">
			<div class="box">
				<h2>MQTT 1</h1>
				<form action="" method="post" class="form-horizontal">
					<div class="form-group">
						<label for="#" class="col-sm-2 control-label">Enabled</label>
						<div class="col-sm-10">
							<input type="checkbox" class="my-checkbox form-control" disabled>
						</div>
					</div>
				</form>

			</div>
		</div>
</div>

<script>
$(document).ready(function() {
	$(".my-checkbox").bootstrapSwitch();
	$('input type=["checkbox"]').change(function(){
		alert('changed');
	});
});

</script>
{% endblock %}
