{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Admin <small>Server Settings</small>
        </h1>
             <ol class="breadcrumb">
           <li>
						 <i class="fa fa-sliders"></i> <a href="{{url_for('index')}}">Dashboard</a>
          </li>
					<li class="active">Server Settings</li>
       </ol>
    </div>
</div>
{% include "flash.html" %}
{% from "macros/conn.html" import ListMQTT %}
{% from "macros/form.html" import render_field, render_field_with_errors %}
<div class="row">
	<div class="col-lg-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
				General Settings
				<div class="floatRight" id="generalSettings"></div>
			</div>
			<div class="panel-body">
				<form name="sform" class="form-horizontal" method="post" action="{{url_for('AdminView.AdminServer')}}">
					{{ GeneralForm.csfr_token }}
					{{ GeneralForm.hidden_tag() }}
					{{ render_field_with_errors(GeneralForm.Port) }}
					{{ render_field_with_errors(GeneralForm.Debug) }}
					{{ render_field_with_errors(GeneralForm.Logging) }}
					{{ render_field_with_errors(GeneralForm.SQLDriver) }}
					{{ render_field(GeneralForm.Submit) }}	
				</form>
			</div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Database Settings
				<div class="floatRight" id="databaseSettings"></div>
			</div>
			<div class="panel-body">
				<form class="form-horizontal">
          <div class="form-group">
						<label for="dbsettings" class="col-sm-2 control-label">First</label>
						<div class="col-sm-10">
							<select class="form-control" id="dbsetting">
								<option>Local(SQLite)</option>
								<option>MySQL/MariaDB</option>
								<option>PostgreSQL</option>
							</select>
						</div>
						<label for="Local(SQLLite)" class="col-sm-2 control-label">First</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="Local(SQLLite)" placeholder="test" value="test">
						</div>
          </div>
				</form>
			</div>
		</div>
	</div>	
	<div class="col-lg-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
				MQTT Connections
				<div class="floatRight">
					<div id="mqttSettings" style="display: inline;"></div>
					<div id="mqttAdd" style="display: inline;"></div>
				</div>
			</div>
			<div class="panel-body">
				{{ ListMQTT(MQTTList, MQTTForm) }}
			</div>
		</div>
	</div>
</div>
<script>
$(document).ready(function() {
{% if current_user.has_role("admin") %}
	$('#generalSettings').prepend('<a style="color: #FFFFFF;" href="#" data-toggle="modal" data-target="#modifyLocation"><i class="fa fa-pencil" aria-hidden="true"></i></a>');
	$('#databaseSettings').prepend('<a style="color: #FFFFFF;" href="#" data-toggle="modal" data-target="#modifyGeneral"><i class="fa fa-pencil" aria-hidden="true"></i></a>');
	$('#mqttSettings').prepend('<a style="color: #FFFFFF;" href="#" data-toggle="modal" data-target="#modifyLocation"><i class="fa fa-pencil" aria-hidden="true"></i></a>');
	$('#mqttAdd').prepend('<a style="color: #FFFFFF;" href="#" data-toggle="modal" data-target="#AddMQTT"><i class="fa fa-plus" aria-hidden="true"></i></a>');
{% endif %}
});
</script>
{% from "admin/modals/mqtt.html" import CreateMQTT %}

{{ CreateMQTT(MQTTForm) }}

{% endblock %}
