{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Admin <small>Server Settings</small>
        </h1>
             <ol class="breadcrumb">
           <li>
						 <i class="fa fa-sliders"></i> <a href="{{url_for('index')}}">Dashboard</a>
          </li>
					<li class="active">Server Settings</li>
       </ol>
    </div>
</div>
{% include "flash.html" %}
{% from "admin/macros/general.html" import GeneralSettings %}
{% from "admin/macros/mqtt.html" import ListMQTT %}
<div class="row">
	<div class="col-lg-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
				General Settings
			</div>
			<div class="panel-body">
				{{ GeneralSettings(GeneralForm) }}
			</div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Database Settings
			</div>
			<div class="panel-body">
				<form class="form-horizontal">
          <div class="form-group">
						<label for="dbsettings" class="col-sm-2 control-label">First</label>
						<div class="col-sm-10">
							<select class="form-control" id="dbsetting">
								<option>Local(SQLite)</option>
								<option>MySQL/MariaDB</option>
								<option>PostgreSQL</option>
							</select>
						</div>
						<label for="Local(SQLLite)" class="col-sm-2 control-label">First</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="Local(SQLLite)" placeholder="test" value="test">
						</div>
          </div>
				</form>
			</div>
		</div>
	</div>	
	<div class="col-lg-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
				MQTT Connections
			</div>
			<div class="panel-body">
				{{ ListMQTT(MQTTList, MQTTForm) }}
			</div>
		</div>
	</div>
</div>
<script>
$(document).ready(function() {
	$(":checkbox").bootstrapSwitch();
	$(":checkbox").bootstrapSwitch('size','small');
});
</script>
{% endblock %}
