{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Admin <small>Users</small>
						{% if current_user.has_role('administrator') %}
						<a href="#" data-toggle="modal" data-target="#CreateUser" style="position: absolute; right: 0; margin-right: 1vw;">
							<i class="fa fa-plus" aria-hidden="true"></i>
						</a>
						{% endif %}
        </h1>
             <ol class="breadcrumb">
           <li class="active">
						 <i class="fa fa-map-marker"></i><a href="{{url_for('index')}}"> Dashboard</a>
          </li>
					<li class="active">Node List</li>
       </ol>
    </div>
</div>
{% include "flash.html" %}
{% from "macros/user.html" import ListUsers with context %}
{% from "admin/modals/user.html" import CreateUser with context %}
<div class="row">
	 <div class="col-lg-12">
		 <div class="panel panel-primary">
			 <div class="panel-heading">
				 User List
			 </div>
			 <div class="panel-body" style="padding: 0;">
					{{	ListUsers(Users) }}
			 </div>
		</div>
  </div>
</div>
{{ CreateUser() }}
<script>
$(document).ready(function() {
});
</script>

{% endblock %}
