{% macro SensorBox(sensor) %}
{% from "frontend/nodes/macros/fields.html" import Switch, Box, Value %}
<form name="#" class="form-horizontal" method="#">
{% for commandclass in sensor.commandclasses %}

{% if commandclass.types %}
{% for commandclasstype in commandclass.types %}
{% if commandclasstype.web_field %}
<div class="form-group">
	<label class="col-sm-2 control-label" id="{{sensor.sensorid}}{{commandclass.name}}Name">-</label>
	<div class="col-sm-5 col-sm-offset-5" id="{{sensor.sensorid}}{{commandclass.name}}Div">
		---
	</div>
</div>
{% endif %}
{% endfor %}

{% else %}
{% if commandclass.web_field %}
<div class="form-group">
	<label class="col-sm-2 control-label" id="{{sensor.sensorid}}{{commandclass.name}}Name">-</label>
	<div class="col-sm-5 col-sm-offset-5" id="{{sensor.sensorid}}{{commandclass.name}}Div">
		---
	</div>
</div>
{% endif %}
{% endif %}

{% endfor %}
</form>
{% endmacro %}

{% macro SensorScripts(sensors) %}
<script>
function createFieldBox(field) {
	div = document.getElementById(field.sensor+field.commandclassName+"Div");
	box = document.createElement("LABEL");
	box.setAttribute("class", "lightbox");
	box.setAttribute("id", field.sensor+field.name+"Value");
	if (field.state === "True")
		box.className += " lightboxlight";

	div.innerHTML = ""
	div.appendChild(box);
};

function createFieldValue(field) {
	div = document.getElementById(field.sensor+field.commandclassName+"Div");
	box = document.createElement("P");
	box.setAttribute("id", field.sensor+field.name+"Value");
	box.style.position = "absolute";
	box.style.right = "0";
	box.style.width = "60px";
	box.innerHTML = field.value;
	div.innerHTML = "";
	div.appendChild(box);
}

function createFieldSwitch(field) {
	div = document.getElementById(field.sensor+field.commandclassName+"Div");
	_switch = document.createElement("LABEL");
	_switch.setAttribute("class", "switch");

	input = document.createElement("INPUT");
	input.setAttribute("type", "checkbox");
	input.setAttribute("id", field.sensor+field.name+"Value");
	slider = document.createElement("DIV");
	slider.setAttribute("class", "slider");
	if (field.state === "True")
		input.checked = true;
	else
		input.checked = false;

	_switch.appendChild(input);
	_switch.appendChild(slider);

	div.innerHTML = "";
	div.appendChild(_switch);
	document.getElementById(field.sensor+field.name+"Value").addEventListener("click", function() {
		switchChange(this, field.icpe, field.sensor, field.commandclassName, "");
	});

}

sensorSocket.on('fields', function(fields) {
		console.log(fields);
		for (var i = 0; i < fields.length; i++) {
		document.getElementById(fields[i].sensor+fields[i].commandclassName+"Name").innerHTML = fields[i].name;
		if (fields[i].type == 'box')
			createFieldBox(fields[i]);
		else if (fields[i].type == 'value')
			createFieldValue(fields[i]);
		else if (fields[i].type == 'switch')
			createFieldSwitch(fields[i]);
		else
			console.log("unknown field " + fields[i].type);
	}
});
{% for sensor in sensors %}
sensorSocket.emit('fields', "{{sensor.icpe.macaddr}}", "{{sensor.sensorid}}");
{% endfor %}
</script>
{% endmacro %}
