{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Nodes <small>Node List</small>
        </h1>
             <ol class="breadcrumb">
           <li class="active">
						 <i class="fa fa-map-marker"></i><a href="{{url_for('index')}}"> Dashboard</a>
          </li>
					<li class="active">Node List</li>
       </ol>
    </div>
</div>
{% include "flash.html" %}
<div class="row">
    <div class="col-lg-12">
			<div class="box" style="padding: 0;">
				<div class="list-group">
					{% for node in nodes %}
                    <a href="/nodes/list/{{node.icpe.mac}}" class="list-group-item">
                        <p class="col-sm-2"><b>Name:</b> {{ node.name }}</p>
                        <p class="col-sm-2"><b>Group:</b> {{ node.group.name }}</p>
                        <p class="col-sm-2"><b>Street:</b> {{ node.location.street }}</p>
                        <p class="col-sm-2"><b>City:</b> : {{node.location.city}}</p>
                        -
                    </a>
					{% endfor %}
				</div>
			</div>
    </div>
    <tbody>
</div>
<div class="row">
	<div class="col-lg-2 col-lg-offset-10">
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AddNew">Add new</button>
	</div>
</div>

<div class="modal fade" id="AddNew" role="dialog">
	<div class="modal-dialog">
		
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title">Add new node</h2>
			</div>
			<div class="modal-body">
				{% include "nodes/new.html" %}
		</div>
	</div>
</div>	

<script>
$(document).ready(function() {
});
</script>

{% endblock %}
