{% extends "base.html" %}
{% block content %}
<script>

namespace = '/icpeevent';
var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

socket.on('connect', function() {
    socket.emit('join', {room : '{{iCPE.mac}}'});
});

function checkboxChange(box, icpe, nodeid, attribute) {
	if (box.checked) {
		socket.emit('event', {mac : icpe, nodeid : nodeid, state : 'True', class : attribute});
	} else {
		socket.emit('event', {mac : icpe, nodeid : nodeid, state : 'False', class : attribute});
	}
}

socket.on('roomevent', function(msg) {
	console.log(msg);
	if (msg['datatype'] == "<class 'bool'>") {
		checkbox = document.getElementById(msg['nodeid']+msg['attribute']);
		if ($(checkbox).hasClass('lightbox')) {
			if (msg['value']) {
				$(checkbox).addClass('lightboxlight');
			} else {
				$(checkbox).removeClass('lightboxlight');
			}
		}	else {
			$(checkbox).prop('checked', msg['value']);
		} 
	} else {
		$('#'+msg['nodeid']+msg['attribute']).text(msg['value'])
	}
});

</script>

<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">
			Nodes <small> {{iCPE.alias}} </small>
      <a href="#" data-toggle="modal" data-target="#NodeSettings" style="position: absolute; right: 0; margin-right: 1vw;">
				<i class="fa fa-cog" aria-hidden="true"></i>
      </a>
    </h1>
    <ol class="breadcrumb">
			<li>
				<i class="fa fa-map-marker"></i><a href="{{url_for('index')}}"> Dashboard</a>
			</li>
			<li>
				<a href="{{url_for('NodeView.NodesList')}}"> Node List</a>
			</li>
			<li class="active">{{iCPE.mac}}</li>
    </ol>
  </div>
</div>
{% include "flash.html" %}
{% from "nodes/macros/info.html" import General, Technical %}
{% from "macros/map.html" import Map %}
{% from "nodes/macros/node.html" import ModalSettings, ModalDelete %}
<div class="row">
	<div class="col-lg-6">
		{{ Map(Node.location.latitude, Node.location.longitude) }}
	</div>	
	<div class="col-lg-3">
		{{ General(iCPE, moment) }}	
	</div>
	<div class="col-lg-3">
		{{ Technical(iCPE) }}		
	</div>
</div>
{% from "nodes/macros/sensor.html" import SensorBox, SensorModal %}
<div class="row">
	{% if iCPE.sensors|length > 0 %}
	{% for sensor in iCPE.sensors %}
		{{ SensorBox(sensor) }}
		{{ SensorModal(sensor, SensorForm) }}
	{% endfor %}
	{% endif %}
</div>
{% from "nodes/macros/stats.html" import Power, Heat, Events %}
<div class="row">
	<div class="col-lg-12">
    {% if iCPE.powerstat %}
    <div class="col-lg-4">
			{{ Power(iCPE.powerstat) }}
		</div>
    {% endif %}
    {% if iCPE.heatstat %}
		<div class="col-lg-4">
			{{ Heat(iCPE.heatstat) }}	
		</div>
    {% endif %}
		{% if iCPE.events %}
		<div class="col-lg-4">
			{{ Events(iCPE.events) }}			
		</div>
		{% endif %}
	</div>
</div>
{{ ModalSettings(Node, iCPEForm, LocationForm) }}
{{ ModalDelete() }}
<script>
$(document).ready(function() {
$('input[name="alias"]').val('Alias');



});	
</script>

{% endblock %}
