{% extends "base.html" %}
{% block content %}
{% from "nodes/macros/sockets.html" import Lookup, EventListener %}
{{ EventListener(iCPE.macaddr) }}

<script>
namespace = '/nodedata';
var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
</script>

<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">
			Nodes <small> {{Node.name}} </small>
    </h1>
    <ol class="breadcrumb">
			<li>
				<i class="fa fa-map-marker"></i><a href="{{url_for('index')}}"> Dashboard</a>
			</li>
			<li>
				<a href="{{url_for('NodeView.NodesList')}}"> Node List</a>
			</li>
			<li class="active">{{iCPE.mac}}</li>
    </ol>
  </div>
</div>
{% include "flash.html" %}
{% from "nodes/macros/info.html" import NodeInfo, iCPEInfo with context %}
{% from "macros/map.html" import Map %}
<div class="row">
	<div class="col-lg-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				{{ Node.location.street}}, {{ Node.location.city }}
				<div class="floatRight" id="location">
				</div>
			</div>
			<div class="panel-body" style="padding: 0; height: 200px;">
				{{ Map(Node.location.latitude, Node.location.longitude) }}
			</div>
		</div>
	</div>	
	<div class="col-lg-3">
		<div class="panel panel-primary">
			<div class="panel-heading">
				{{Node.name}}
				<div class="floatRight" id="general">
				</div>
			</div>
			<div class="panel-body" style="height: 200px;">
				{{ NodeInfo(Node) }}
			</div>
		</div>
	</div>
	<div class="col-lg-3">
		<div class="panel panel-primary">
			<div class="panel-heading">
				{{iCPE.name}}, {{iCPE.macaddr}}
				<div class="floatRight" id="technical">
				</div>
			</div>
			<div class="panel-body" style="height: 200px;">
				{{ iCPEInfo(iCPE) }}
			</div>
		</div>
	</div>
</div>
{% from "nodes/macros/sensor.html" import SensorBox %}
<div class="row">
	{% if iCPE.sensors|length > 0 %}
	{% for sensor in iCPE.sensors %}
	<div class="col-lg-2">
		<div class="panel panel-info">
			<div class="panel-heading">
				{{ sensor.name }}
				<div class="floatRight">
					<a href="#" style="color: #FFFFFF; margin: 0 5px;" onclick="sensorModal('{{iCPE.macaddr}}', '{{sensor.sensorid}}')"><i class="fa fa-info" aria-hidden="true"></i></a>
				</div>
			</div>
			<div class="panel-body">
				{{ SensorBox(sensor) }}
			</div>
		</div>
	</div>
	{% endfor %}
	{% endif %}
</div>
{% from "macros/statistics.html" import PowerGraph, HeatGraph, EventList %}
<div class="row">
	<div class="col-lg-12">
    {% if iCPE.powerstat %}
    <div class="col-lg-4">
			{{ PowerGraph(iCPE.powerstat) }}
		</div>
    {% endif %}
    {% if iCPE.heatstat %}
		<div class="col-lg-4">
			{{ HeatGraph(iCPE.heatstat) }}	
		</div>
    {% endif %}
		{% if iCPE.events %}
		<div class="col-lg-4">
			{{ EventList(iCPE.events) }}			
		</div>
		{% endif %}
	</div>
</div>
{% from "nodes/modals/node.html" import ModalGrouplist, ModifyLocation, ModifyGeneral %}
{% from "nodes/modals/node.html" import NodeInformation with context %}
{% from "nodes/modals/sensor.html" import SensorModal %}
<script>
$(document).ready(function() {
$('#general').prepend('<a style="color: #FFFFFF; margin: 0 5px;" href="#" data-toggle="modal" data-target="#groupList"><i class="fa fa-users" aria-hidden="true"></i></a>');
$('#general').prepend('<a style="color: #FFFFFF; margin: 0 5px;" href="#" data-toggle="modal" data-target="#nodeInfo"><i class="fa fa-info" aria-hidden="true"></i></a>');

{% if current_user.has_role("technician") %}
$('#location').prepend('<a style="color: #FFFFFF; margin: 0 5px;" href="#" data-toggle="modal" data-target="#modifyLocation"><i class="fa fa-pencil" aria-hidden="true"></i></a>');
{% endif %}

});
function sensorModal(iCPE, sensor) {
	$('#SensorModal').modal('show');
}
</script>
{{ ModalGrouplist(Node.groups) }}
{{ NodeInformation(Node) }}

{% if current_user.has_role("technician") %}
{{ ModifyLocation(Node.name) }}
{{ ModifyGeneral(Node) }}
{% endif %}

{{ Lookup(iCPE) }}
{{ SensorModal() }}
{% endblock %}
