{% extends "base.html" %}
{% block content %}
{% from "nodes/macros/sockets.html" import Lookup, EventListener %}
{{ EventListener(iCPE.macaddr) }}

<script>
namespace = '/nodedata';
var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
</script>

<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">
			Nodes <small> {{iCPE.alias}} </small>
    </h1>
    <ol class="breadcrumb">
			<li>
				<i class="fa fa-map-marker"></i><a href="{{url_for('index')}}"> Dashboard</a>
			</li>
			<li>
				<a href="{{url_for('NodeView.NodesList')}}"> Node List</a>
			</li>
			<li class="active">{{iCPE.mac}}</li>
    </ol>
  </div>
</div>
{% include "flash.html" %}
{% from "nodes/macros/info.html" import General, Technical %}
{% from "macros/map.html" import Map %}
<div class="row">
	<div class="col-lg-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				{{ Node.location.street}}, {{ Node.location.city }}
				<div class="floatRight" id="location">
				</div>
			</div>
			<div class="panel-body" style="padding: 0; height: 200px;">
				{{ Map(Node.location.latitude, Node.location.longitude) }}
			</div>
		</div>
	</div>	
	<div class="col-lg-3">
		<div class="panel panel-primary">
			<div class="panel-heading">
				General Information
				<div class="floatRight" id="general">
				</div>
			</div>
			<div class="panel-body" style="height: 200px;">
				{{ General(iCPE, moment) }}	
			</div>
		</div>
	</div>
	<div class="col-lg-3">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Technical Status
				<div class="floatRight" id="technical">
				</div>
			</div>
			<div class="panel-body" style="height: 200px;">
				{{ Technical(iCPE) }}
			</div>
		</div>
	</div>
</div>
{% from "nodes/macros/sensor.html" import SensorBox, SensorModal %}
<div class="row">
	{% if iCPE.sensors|length > 0 %}
	{% for sensor in iCPE.sensors %}
	<div class="col-lg-2">
		<div class="panel panel-info">
			<div class="panel-heading">
				{{ sensor.name }}
			</div>
			<div class="panel-body">
				{{ SensorBox(sensor) }}
			</div>
		</div>
	</div>
	{% endfor %}
	{% endif %}
</div>
{% from "nodes/macros/stats.html" import Power, Heat, Events %}
<div class="row">
	<div class="col-lg-12">
    {% if iCPE.powerstat %}
    <div class="col-lg-4">
			{{ Power(iCPE.powerstat) }}
		</div>
    {% endif %}
    {% if iCPE.heatstat %}
		<div class="col-lg-4">
			{{ Heat(iCPE.heatstat) }}	
		</div>
    {% endif %}
		{% if iCPE.events %}
		<div class="col-lg-4">
			{{ Events(iCPE.events) }}			
		</div>
		{% endif %}
	</div>
</div>
{% from "nodes/macros/modals.html" import ModalGrouplist, ModifyLocation, ModifyGeneral %}
<script>
$(document).ready(function() {
$('#general').prepend('<a style="color: #FFFFFF;" href="#" data-toggle="modal" data-target="#groupList"><i class="fa fa-users" aria-hidden="true"></i></a>');

{% if current_user.has_role("technician") %}
$('#location').prepend('<a style="color: #FFFFFF;" href="#" data-toggle="modal" data-target="#modifyLocation"><i class="fa fa-pencil" aria-hidden="true"></i></a>');
$('#general').prepend('<a style="color: #FFFFFF;" href="#" data-toggle="modal" data-target="#modifyGeneral"><i class="fa fa-pencil" aria-hidden="true"></i></a>');
{% endif %}
});
</script>
{{ ModalGrouplist(Node.groups) }}

{% if current_user.has_role("technician") %}
{{ ModifyLocation(Node.Location) }}
{{ ModifyGeneral(Node) }}
{% endif %}

{{ Lookup(iCPE) }}

{% endblock %}
