{% block content %}

<form name="#" class="form-horizontal" method="#">
	<div class="form-group">
		<label class="col-sm-2 control-label">Wallplug</label>
		<div class="col-sm-5 col-sm-offset-5">
			<div class="control">
				<input type="checkbox" id="testboxx">
			</div>
		</div>
	</div>
</form>
<script>
$(document).ready(function() {
	$(":checkbox").bootstrapSwitch();
	$(":checkbox").bootstrapSwitch('size','small');

	namespace = '/' + 'icpeevent';
	var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
	
	socket.on('connect', function() {
		socket.emit('join', {room : '{{mac}}'});
	});
	
	$('#testboxx').on('switchChange.bootstrapSwitch', function(event, state) {
		if (this.checked) {
			socket.emit('event', {nodeid : {{znode.nodeid}}, data : 'checked', mac : '{{mac}}', mode : 'on'});
		} else {
			socket.emit('event', {nodeid : {{znode.nodeid}}, data : 'unchecked', mac : '{{mac}}', mode : 'off'});
		}
	});

	socket.on('roomevent', function(msg) {
		console.log('event');
		if (msg['result'] == 'on') {
			$('#testboxx').bootstrapSwitch('state', true, false);
		}
		else if (msg['result'] == 'off') {
			$('#testboxx').bootstrapSwitch('state', false, false);
		}
		});
	socket.on('event', function(msg) {
		console.log('non roomevent', msg);
	});
	console.log({{znode.nodeid }});
});
</script>
{% endblock %}
