{% macro CreateMQTT() %}
{% from "macros/form.html" import render_manual %}
{% from "macros/group.html" import SelectGroup %}
{% from "macros/info.html" import FieldID %}

<div class="modal fade" id="AddMQTT" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h2 class="modal-title">Add MQTT Connection</h2>
				<div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
			<div class="modal-body">
				<div class="multiform-step">
					<div class="row">
						{{ render_manual('Address', 'mqttAddress') }}
						{{ render_manual('Port', 'mqttPort') }}
						{{ render_manual('Username', 'mqttUsername') }}
						{{ render_manual('Password', 'mqttPassword') }}
					</div>
				</div>
				<div class="multiform-step">
					{{ SelectGroup(current_user) }}
				</div>
				<div class="multiform-step">
					<div class="row">
						{{ FieldID('Address', 'None', 'SubmitAddress') }}
						{{ FieldID('Port', 'None', 'SubmitPort') }}
						{{ FieldID('Group', 'None', 'SubmitGroup') }}
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="multibtn multiform-back btn btn-info">Back</button>
				<button class="multibtn multiform-next btn btn-info">Next</button>
				<button class="multibtn multiform-submit btn btn-success">Submit</button>
			</div>
		</div>
	</div>
</div>
	<script>
$(document).ready(function() {
	var basic = function() {
		if ($('#mqttAddress').val() == '')
		{
			toastr.error('Please Enter Address');
			return false;
		}
		if ($('#mqttPort').val() == '') {
			toastr.error('Please Enter Port');
		}
		$('#SubmitAddress').text($('#mqttAddress').val());
		$('#SubmitPort').text($('#mqttPort').val());
		$('#SubmitUsername').text($('#mqttUsername').val());
		$('#SubmitPassword').text($('#mqttPassword').val());
		return true;
	}
	var group = function() {
		if ($('#GroupsList option:selected').text() == '') {
			toastr.error('Please choose Group');
			return false;
		}
		$('#SubmitGroup').text($('#GroupsList option:selected').text());
		return true;
	}
	var submit = function() {
		var address = $('#SubmitAddress').text();
		var port = $('#SubmitPort').text();
		var username = $('#SubmitUsername').text();
		var password = $('#SubmitPassword').text();

		var group = $('#SubmitGroup').text();
		mqttSocket.emit('create', {'address' : address, 'port' : port, 'username' : username, 'password' : password, 'group' : group});
	}
	initMultistep(basic, group, submit);
});
	</script>
	<script src="/static/js/multistep.js"></script>
{% endmacro %}

{% macro Settings(mqtt) %}
<div class="modal fade" id="MQTTInfo" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title">MQTT Settings</h2>
			</div>
			<div class="modal-body">
				MQTT
			</div>
		</div>
	</div>
</div>
{% endmacro %}


