{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Data <small>Power</small>
        </h1>
             <ol class="breadcrumb">
           <li class="active">
            <i class="fa fa-sliders"></i> Data
          </li>
       </ol>
    </div>
</div>
<div class="row">
		<div class="col-lg-12">
			<h1>Nodes</h1>
				<div class="box" style="padding: 0;">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Node Alias</th>
								<th>Current Power</th>
								<th>Daily Avarage</th>
								<th>Weekly Avarage</th>
								<th>Monthly Avarage</th>
							</tr>
						</thead>
						<tbody>
					{% for node in icpe.znodes %}
					<tr>
						<td>
							<a href="{{url_for('DataPoweriCPENode', mac = icpe.macaddr, nodeid = node.nodeid)}}">
									{{ node.alias }}
							</a>
						</td>
						<td>
							-	
						</td>
						<td>
							-
						</td>
						<td>
							-
						</td>
						<td>
							-
						</td>
					</tr>
					{% endfor %}
					</tbody>
				</table>
		</div>
	</div>
</div>


{% endblock %}
