{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Data <small>Heat</small>
        </h1>
          <ol class="breadcrumb">
           <li>
            <i class="fa fa-database"></i> Data
          </li>
					<li class="active">
						Heat
					</li>
       </ol>
    </div>
</div>
<div class="row">
	<div class="col-lg-12">
		<h1>Graph</h1>
			<div class="box" style="padding: 0;">
				<div id="HeatChart" style="height: 400px;"></div>
			</div>			
	</div>
</div>

<div class="row">
		<div class="col-lg-12">
			<h1>Nodes</h1>
				<div class="box" style="padding: 0;">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>iCPE</th>
								<th>Current Power</th>
								<th>Daily Avarage</th>
								<th>Weekly Avarage</th>
								<th>Monthly Avarage</th>
							</tr>
						</thead>
						<tbody>
					{% for iCPE in icpes %}
					<tr>
						<td>
							<a href="{{url_for('DataHeatiCPE', mac = iCPE.mac)}}">
									{{ iCPE.alias }}
							</a>
						</td>
						<td>
							-	
						</td>
						<td>
							-
						</td>
						<td>
							-
						</td>
						<td>
							-
						</td>
					</tr>
					{% endfor %}
					</tbody>
				</table>
		</div>
	</div>
</div>
<script>
$(document).ready(function() {
new Morris.Line({
	element: 'HeatChart',

	data: [
	{% for iCPE in icpes %}
	{% for heatstat in iCPE.heatstat[-30:] %}
	{x: '{{heatstat.date}}', value: {{'%0.2f' % heatstat.heat|float }} },
	{% endfor %}
	{% endfor %}
	],

	xkey : 'x',
	ykeys : ['value'],
	labels : ['Celsius']
});
});
</script>


{% endblock %}
