{% macro AddNode(NodeCreateForm, unassigned) %}
{% from "macros/form.html" import render_field_with_errors, render_field %}
<div class="row">
	<div class="col-lg-12">
		<div class="box">
		<form action="{{url_for('NodeView.NodesList')}}" method="post" class="form-horizontal">
			{{ NodeCreateForm.csfr_token }}
			{{ NodeCreateForm.hidden_tag() }}
			{{ render_field_with_errors(NodeCreateForm.Name) }}
			{{ render_field_with_errors(NodeCreateForm.Group) }}
			{{ render_field_with_errors(NodeCreateForm.Mac) }}
			{{ render_field_with_errors(NodeCreateForm.Street) }}
			{{ render_field_with_errors(NodeCreateForm.City) }}
			{{ render_field(NodeCreateForm.Submit) }}
		 </form>
		</div>
	</div>
</div>
{% endmacro %}
