{% macro Switch(field) %}
<div class="form-group">
	<label class="col-sm-2 control-label">{{field.name}}</label>
	<div class="col-sm-5 col-sm-offset-5">
		<label class="switch">
			<input type="checkbox" id="{{field.sensor.sensorid}}{{field.name}}" onclick="switchChange(this, '{{field.icpe.macaddr}}', '{{field.sensor.sensorid}}', '{{field.sensorclass.classname}}');">
			<div class="slider"></div>
		</label>
	</div>
</div>
{% endmacro %}

{% macro Box(field) %}
<div class="form-group">
	<label class="col-sm-2 control-label">{{field.name}}</label>
	<div class="col-sm-5- col-sm-offset-5">
		<label class="lightbox" id="{{field.sensor.sensorid}}{{field.name}}"></label>
	</div>
</div>
{% endmacro %}

{% macro Value(field) %}
<div class="form-group">
	<label class="col-sm-2 control-label">{{field.name}}</label>
	<div class="col-sm-5- col-sm-offset-5">
		<p id="{{field.sensor.sensorid}}{{field.name}}">0.0</p>
	</div>
</div>
{% endmacro %}

