{% macro NodeInfo(node) %}
{% from "macros/statistics.html" import CurrentPower, CurrentHeat %}
<div class="row" style="height: 50%;">
	<div class="col-lg-4 textCenter">
		<a href="#">
			<i class="fa fa-unlock fa-2x" aria-hidden="true"></i>
			<p><strong>Unlocked</strong></p>
		</a>
	</div>
	<div class="col-lg-4 textCenter">
		<a href="#">
			<h3 style="margin: 0;">0</h3>
			<p><strong>Issues</strong></p>
		</a>
	</div>
	<div class="col-lg-4 textCenter">
		<a href="#">
			<i class="fa fa-book fa-2x" aria-hidden="true"></i>
			<p><strong>Notifications</strong></p>
		</a>
	</div>
</div>
<div class="row" style="height: 50%;">
	<div class="col-lg-6">
		{{ CurrentPower(node = node.name) }}
	</div>
	<div class="col-lg-6">
		{{ CurrentHeat(node = node.name) }}
	</div>
</div>
{% endmacro %}

{% macro iCPEInfo(iCPE) %}
<div class="row" style="height: 50%">
	<a href="#" class="col-lg-4 textCenter" data-toggle="tooltip" title="Update known Z-Wave devices">
		<i class="fa fa-refresh fa-2x" aria-hidden="true"></i>
		<p><strong>Update</strong></p>
	</a>
	<a href="#" class="col-lg-4 textCenter" data-toggle="tooltip" title="Include Z-Wave device">
		<i class="fa fa-sign-in fa-2x" aria-hidden="true"></i>
		<p><strong>Include</strong></p>
	</a>
	<a href="#" class="col-lg-4 textCenter" data-toggle="tooltip" title="Exclude Z-Wave device">
		<i class="fa fa-sign-out fa-2x" aria-hidden="true"></i>
		<p><strong>Exclude</strong></p>
	</a>
</div>
<div class="row" style="height: 50%">
	<div class="col-lg-6">
		<p><strong>Connection</strong></p>
		<p class="inline">Type: </p> 
		<p class="inline" id="connectionType">-</p>
		<br>
		<p class="inline">IP: </p> 
		<p class="inline" id="connectionAddr">-</p>
	</div>
	<div class="col-lg-6">
		<p><strong>Power</strong></p>
		<p class="inline">Source: </p> 
		<p class="inline" id="powerSource">-</p>
		<br>
		<p class="inline">Battery Level: </p> 
		<p class="inline" id="powerLevel">-</p>
	</div>
</div>
<script>
$(document).ready(function() {
	iCPE = "{{iCPE.macaddr}}";
	updateButton = $('#update-icpe');
	includeButton = $('#include-icpe');
	excludeButton = $('#exclude-icpe');

	iCPESocket.on('connectionInfo', function(conn) {
		$("#connectionType").text(conn.type);
		$("#connectionAddr").text(conn.addr);
	});
	iCPESocket.on('powerInfo', function(pwr) {
		$("#powerSource").text(pwr.source);
		$("#powerLevel").text(pwr.level);
	});

	iCPESocket.emit('connectionInfo', {'iCPE' : iCPE});
	iCPESocket.emit('powerInfo', {'iCPE' : iCPE});
	
	updateButton.click(function() {
		iCPESocket('updateSensors', {'iCPE' : iCPE});
	});
	includeButton.click(function() {
		iCPESocket('includeSensor', {'iCPE' : iCPE});
	});
	excludeButton.click(function() {
		iCPESocket('excludeSensor', {'iCPE' : iCPE});
	});
});
</script>
{% endmacro %}
