{% macro NodeInfo(node) %}
{% from "macros/statistics.html" import CurrentPower, CurrentHeat %}
<div class="row" style="height: 50%;">
	<div class="col-lg-4 textCenter">
		<i class="fa fa-unlock fa-2x" aria-hidden="true"></i>
		<p><strong>Unlocked</strong></p>
	</div>
	<div class="col-lg-4 textCenter">
		<h3 style="margin: 0;">0</h3>
		<p><strong>Issues</strong></p>
	</div>
	<div class="col-lg-4 textCenter">
		<i class="fa fa-book fa-2x" aria-hidden="true"></i>
		<p><strong>Notifications</strong></p>
	</div>
</div>
<div class="row" style="height: 50%;">
	<div class="col-lg-6">
		{{ CurrentPower(node = node.name) }}
	</div>
	<div class="col-lg-6">
		{{ CurrentHeat(node = node.name) }}
	</div>
</div>
{% endmacro %}

{% macro iCPEInfo(iCPE) %}
<div class="row">
<a href="#" class="col-lg-4" data-toggle="tooltip" title="Update known Z-Wave devices">
	<i class="fa fa-refresh fa-3x" aria-hidden="true"></i>
</a>
<a href="#" class="col-lg-4" data-toggle="tooltip" title="Include Z-Wave device">
	<i class="fa fa-sign-in fa-3x" aria-hidden="true"></i>
</a>
<a href="#" class="col-lg-4" data-toggle="tooltip" title="Exclude Z-Wave device">
	<i class="fa fa-sign-out fa-3x" aria-hidden="true"></i>
</a>
<br>
<h4 class="col-lg-12"><strong>Connection:</strong> <small> - </small></h3>
<br>
<h4 class="col-lg-12"><strong>Battery:</strong> <small> - </small></h3>
</div>
{% endmacro %}
