{% macro NodeList(nodes) %}
<div class="list-group">
	{% for node in nodes %}
		<a href="/nodes/list/{{node.icpe.mac}}" class="list-group-item">
		<p class="col-sm-2"><b>Name:</b> {{ node.name }}</p>
		<p class="col-sm-2"><b>Group:</b> {{ node.group.name }}</p>
		<p class="col-sm-2"><b>Street:</b> {{ node.location.street }}</p>
		<p class="col-sm-2"><b>City:</b> : {{node.location.city}}</p>
		-
		</a>
	{% endfor %}
</div>
{% endmacro %}

{% macro AddNode(NodeCreateForm, unassigned) %}
{% from "macros/form.html" import render_field_with_errors, render_field %}
<div class="row">
	<div class="col-lg-12">
		<div class="box">
			<form action="{{url_for('NodeView.NodesList')}}" method="post" class="form-horizontal">
				{{ NodeCreateForm.csfr_token }}
				{{ NodeCreateForm.hidden_tag() }}
				{{ render_field_with_errors(NodeCreateForm.Name) }}
				{{ render_field_with_errors(NodeCreateForm.Group) }}
				{{ render_field_with_errors(NodeCreateForm.Mac) }}
				{{ render_field_with_errors(NodeCreateForm.Street) }}
				{{ render_field_with_errors(NodeCreateForm.City) }}
				{{ render_field(NodeCreateForm.Submit) }}
			</form>
		</div>
	</div>
</div>
{% endmacro %}

{% macro ModalSettings(BasicForm, AddressForm) %}
{% from "macros/form.html" import render_field_with_errors, render_field %}
<div class="modal fade" id="NodeSettings" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3>{{iCPE.alias}}</h3>
      </div>
      <div class="modal-body">
        <h4 class="col-sm-offset-2">Basic Settings</h4>
				<form method="POST" action="{{url_for('NodesNode', mac=mac)}}" name="basic">
					{{ iCPEBasicForm.csfr_token }}
					{{ iCPEBasicForm.hidden_tag() }}
					{{ render_field_with_errors(BasicForm.Alias) }}
					{{ render_field(Basicform.Submit) }}
				</form>
				<h4 class="col-sm-offset-2">Node Address</h4>
				<form method="POST" action="{{url_for('NodesNode', mac=mac)}}" name="address">
					{{ iCPEAddressForm.csfr_token }}
					{{ iCPEAddressForm.hidden_tag() }}
					{{ render_field_with_errors(AddressForm.Street) }}
					{{ render_field_with_errors(AddressForm.City) }}
					{{ render_field_with_errors(AddressForm.Geolat) }}
					{{ render_field_with_errors(AddressForm.Geolong) }}
					{{ render_field(AddressForm.Submit) }}
				</form>
				<button type="#" class="btn btn-default" data-toggle="modal" data-target="#DeleteNode">Delete Node</button>
				<button type="#" class="btn btn-default">Exit</button>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

{% macro ModalDelete() %}
<div class="modal fade" id="DeleteNode" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h2 class="modal-title">Confirm Delete</h2>
			</div>
			<div class="modal-body">
				<a href="{{ url_for('DeleteNode', mac=mac) }}"><button class="btn btn-danger">I Confirm</button></a>
			</div>
		</div>
	</div>
</div>
{% endmacro %}
