{% macro SensorBox(Sensor) %}
{% from "nodes/macros/fields.html" import Switch, Box, Value %}
<form name="#" class="form-horizontal" method="#">
{% for commandclass in Sensor.commandclasses %}
{% if commandclass.field %}
<div class="form-group">
	<label class="col-sm-2 control-label">{{commandclass.name}}</label>
	<div class="col-sm-5 col-sm-offset-5">
		Thing
	</div>
</div>
{% endif %}
{% for commandclasstype in commandclass.types %}
<div class="form-group">
	<label class="col-sm-2 control-label">{{commandclasstype.name}}</label>
	<div class="col-sm-5 col-sm-offset-5">
		Thing
	</div>
</div>
{% endfor %}
{% endfor %}
</form>
{% endmacro %}

{% macro SensorSockets(sensors) %}
<script>
function checkboxClick(box, icpe, nodeid, commandclass) {
	$(box).addClass('disabled');
	if (box.checked) {
		
	} else {

	}
	$(box).removeClass('disabled');
}

iCPESocket.on('connect', function() {
	icpesocket.emit('JoiniCPE', {icpe : '{{sensors[0].icpe.macaddraddr}}');
});

iCPESocket.on('iCPEEvent', function(msg) {
	console.log(msg);
});

</script>
{% endmacro %}
