{% macro SensorBox(Sensor) %}
<div class="col-lg-2">
	<h3 style="max-width: 80%;">
		{{ Sensor.name }}
		<a href="#" data-toggle="modal" data-target="#PopCFG{{Sensor.nodeid}}" style="position: absolute; right: 0; margin-right: 1vw;">
			<i class="fa fa-cog" aria-hidden="true"></i>
		</a>
	</h3>
	<div class="box" id="Box{{Sensor.sensorid}}">
		<form name="#" class="form-horizontal" method="#">
		{% for field in Sensor.fields %}
		{% if field.display == True %}
		<div class="form-group">
			<label class="col-sm-2 control-label">{{field.name}}</label>
			<div class="col-sm-5 col-sm-offset-5">
				{% if field.type == 'checkbox' %}
				{% if field.readonly %}
				<label class="lightbox" id="{{Sensor.nodeid}}{{field.name}}"></label>
				{% else %}
				<label class="switch">
					<input type="checkbox" id="{{Sensor.nodeid}}{{field.name}}" onclick="checkboxChange(this, '{{Sensor.icpe.mac}}', '{{Sensor.sensorid}}','{{field.sensorclass.classname}}, None');">
					<div class="slider"></div>
				</label>
				{% endif %}
				{% else %}
				<p id="{{Sensor.nodeid}}{{field.name}}">0.0</p>
				{% endif %}
			</div>
		</div>
		{% endif %}
		{% endfor %}
		</form>
	</div>
</div>
{% endmacro %}

{% macro SensorSockets(sensors) %}
<script>
namespace = '/icpe';
var icpesocket = io.connect('http://' + document.domain + ':' location.port + namespace);

function checkboxClick(box, icpe, nodeid, cmdclass) {
	$(box).addClass('disabled');
	if (box.checked) {
		
	} else {

	}
	$(box).removeClass('disabled');
}

icpesocket.on('connect', function() {
	icpesocket.emit('JoiniCPE', {icpe : '{{sensors[0].icpe.macaddr}}');
});

icpesocket.on('iCPEEvent', function(msg) {
	console.log(msg);
});

</script>
{% endmacro %}

{% macro SensorModal(Sensor, SensorForm) %}
{% from "macros/form.html" import render_field %}
<div class="modal fade" id="PopCFG{{Sensor.nodeid}}" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">{{Sensor.name}}</h4>
			</div>
			<div class="modal-body">
				<h3>Static values</h3>
				<table class="table">
					<thead>
					</thead>
					<tbody>
						<tr>
							<td>Brandname</td>
							<td></td>
						</tr>
						<tr>
							<td>Productname</td>
							<td></td>
						</tr>
						<tr>
							<td>Generic Class</td>
							<td></td>
						</tr>
					</tbody>
				</table>
					<h3>Modify values</h3>
				<form method="POST" action="#">
					{{ SensorForm.csfr_token }}
					{{ SensorForm.hidden_tag() }}
					{{ render_field(SensorForm.Alias) }}
					{{ render_field(SensorForm.Submit) }}
				</form>
			</div>
		</div>
	</div>
</div>
{% endmacro %}

