{% macro EventListener(macaddr) %}
<script>
var eventsocket = io.connect('http://' + document.domain + ':' + location.port + '/icpe' + '{{macaddr}}');

function switchChange(box, macaddr, sensorid, commandclass, classtype) {
	if (box.checked) {
		socket.emit('ZWaveSet', {'macaddr' : macaddr, 'sensorid' : sensorid, 'commandclass' : commandclass, 'value' : '1'});
	} else {
		socket.emit('ZWaveSet', {'macaddr' : macaddr, 'sensorid' : sensorid, 'commandclass' : commandclass, 'value' : '0'});
	}
}

function switchEvent(field, enabled) {
	if (enabled) {
		field.attr("checked", true);
	} else {
		field.attr("checked", false);
	}
}

function boxEvent(box, enabled) {
 if(enabled) {
	 $(box).addClass('lightboxlight');
 } else {
	 $(box).removeClass('lightboxlight');
 }
}

function valueEvent(box, value) {
	$(box).text(value);
}

function eventToastr(event) {
	toastr.warning(event.name);
};

eventsocket.on('ZWaveEvent', function(event) {
	f = document.getElementById(event.sensor+event.name+"Value");
	console.log(event);
	if (event.type == 'switch') {
		switchEvent(f, event.enabled);
	} else if (event.type == 'box') {
		boxEvent(f, event.enabled);
	} else if (event.type == 'value') {
		valueEvent(f, event.value);
	}
	eventToastr(event);
});
</script>
{% endmacro %}
