{% macro Lookup(iCPE) %}
<script>
socket.on('SensorRespond', function(sensor, fields) {
	for (var i = 0; i < fields.length; i++) {
		field = fields[i];
		box = $(document.getElementById(sensor.sensorid + field.name));
		console.log(field);
		if (field.type == 'switch') {
			switchEvent(box, field.value);
		}
		else if (field.type == 'box') {
			boxEvent(box, field.value);
		}
		else if (field.type == 'value') {
			valueEvent(box, field.value);
		}
	}
	$(document.getElementById("Box" + sensor.sensorid)).removeClass("blur");
});

{% for sensor in iCPE.sensors %}
	$(document.getElementById("Box" + {{sensor.sensorid}})).addClass("blur");
	socket.emit('SensorGet', {macaddr : "{{sensor.icpe.macaddr}}", sensorid : "{{sensor.sensorid}}"});
{% endfor %}

</script>
{% endmacro %}

{% macro EventListener(macaddr) %}
<script>
var eventsocket = io.connect('http://' + document.domain + ':' + location.port + '/icpe' + '{{macaddr}}');


function switchChange(box, macaddr, sensorid, cmdclass, classtype) {
	if (box.checked) {
		socket.emit('ZWaveSet', {'macaddr' : macaddr, 'sensorid' : sensorid, 'cmdclass' : cmdclass, 'value' : '1'});
	} else {
		socket.emit('ZWaveSet', {'macaddr' : macaddr, 'sensorid' : sensorid, 'cmdclass' : cmdclass, 'value' : '0'});
	}
}

function switchEvent(field, value) {
	console.log('Switch Event ' + value);
	if (value) {
		field.attr("checked", true);
	} else {
		field.attr("checked", false);
	}
}


function boxEvent(box, value) {
	console.log('Box Event ' + value);
 if(value) {
	 $(box).addClass('lightboxlight');
 } else {
	 $(box).removeClass('lightboxlight');
 }
}

function valueEvent(box, value) {
	console.log('Value Event ' + value);
	$(box).text(value);
}



eventsocket.on('FieldEvent', function(sensor, field, value) {
	f = document.getElementById(sensor.sensorid+field.name);
	console.log('event..');
	if (field.type == 'switch') {
		switchEvent(f, value);
	} else if (field.type == 'box') {
		boxEvent(f, value);
	} else if (field.type == 'value') {
		valueEvent(f, value);
	}
});
</script>
{% endmacro %}
