{% macro Power() %}
<h3>Power Usage</h3>
<div class="box" style="padding: 0;">
	<div id="PowerChart" style="height: 250px;"></div>
</div>
<script>
new Morris.Line({
	  // ID of the element in which to draw the chart.
	  element: 'PowerChart',

		data: [
		{% for powerstat in iCPE.powerstat[-10:] %}
		{ x: '{{powerstat.date}}', value: {{'%0.2f' % powerstat.power|float }} },
		{% endfor %}
		],

		xkey : 'x',
		ykeys : ['value'],
		labels : ['Watt']

});
</script>
{% endmacro %}

{% macro Heat() %}
<h3>Heat</h3>
<div class="box" style="padding: 0;">
	<div id="HeatChart" style="height: 250px;">
	</div>
</div>
<script>
new Morris.Line({
	  // ID of the element in which to draw the chart.
	  element: 'HeatChart',

		data : [
		{% for heatstat in iCPE.heatstat[-10:] %}
		{ x: '{{heatstat.date}}', value : {{'%0.2f' % heatstat.heat|float }} },
		{% endfor %}
		],
		xkey : 'x',
		ykeys : ['value'],
		labels : ['Celsius']
});


</script>
{% endmacro %}

{% macro Events() %}
<h3>Events</h3>
			<div class="box" style="padding: 0;">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Event</th>
							<th>ZWave</th>
							<th>Date</th>
						</tr>
					</thead>
					<tbody>
					{% for event in iCPE.events[-6:]|sort(attribute='created_on', reverse=True) %}
						<tr>
							<td>
								<i class="fa fa-{{event.fonticon}}" aria-hidden="true"></i>
							</td>
							<td>
								{{ event.productname }}
							</td>
							<td>
								{{ moment(event.created_on).format('Do MMM YYYY, HH:mm:ss') }}
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>		
			</div>
{% endmacro %}
