{% extends "base.html" %}
{% block content %}
<!-- Page Heading -->
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">
			Dashboard <small> Overview</small>
		</h1>
		<ol class="breadcrumb">
			<li class="active">
				<i class="fa fa-dashboard"></i> Dashboard
			</li>
		</ol>
	</div>
</div>
{% include "flash.html" %}
{% from "dashboard/macros/map.html" import map %}
{% from "dashboard/macros/statistics.html" import statistics %}
{% from "dashboard/macros/messagelist.html" import messagelist %}
{% from "dashboard/macros/eventlist.html" import eventlist %}
<div class="row">
	<div class="col-lg-12">
		{{ map(nodes) }}
	</div>
</div>
<br>
<div class="row">
	<div class="col-lg-12">
		{{ statistics(data) }}
	</div>	
</div>
<br>
<div class="row">
	<div class="col-lg-6">
		{{ messagelist(messages) }}
	</div>
	<div class="col-lg-6">
		{{ eventlist(events) }}
	</div>
</div>
{% endblock %}
