{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
					User Profile <small>{{ user.firstname }} {{ user.lastname }}</small>
        </h1>
        <ol class="breadcrumb">
          <li>
						 <i class="fa fa-map-marker"></i> <a href={{ url_for('index') }}>Dashboard</a>
          </li>
					<li class="active">User Profile</li>
       </ol>
    </div>
</div>


<div class="row">
	<div class="col-lg-6">
	<div class="col-lg-6">
		<h3>User information</h3>
		<div class="box">
			<p><Strong>Name </strong>{{ user.firstname }}, {{ user.lastname }}</p>
			<p><Strong>Email </strong> {{ user.email }}</p>
		</div>
	</div>
	<div class="col-lg-6">
		<h3>User Stats</h3>
		<div class="box">
			<p><Strong>Registered: </strong>{{ user.registered_on }}</p>
			<p><strong>Last Login: </strong>{{ user.last_login }}</p>
		</div>
	</div>
	<div class="col-lg-12">
		<h3>Login Log</h3>
		<div class="box">
			<p>
			<strong>Date</strong> - <Strong>Successful</strong> - <strong>IP Addr</strong> - <strong>Browser</strong> - <strong>Platform</strong>
		<br>
			{% for log in user.loginlog %}
			{{ log.date }} - 
			{{ log.successful }} - 
			{{ log.ipaddr }} - 
			{{ log.browser }} - 
			{{ log.platform }} -
			<br>
			{% endfor %}
			</p>
		</div>
	</div>
	</div>
	<div class="col-lg-6">
		<h3>Team members </h3>
		<div class="box" style="padding: 0;">
			<div class="list-group">
				{% for member  in Team %}
				<a href="#" data-toggle="modal" data-target="#{{member.id}}" class="list-group-item">
					<p><strong>User: </strong>{{ member.firstname }} {{ member.lastname }}   
					<strong>Level: </strong>
					{% if user.is_admin %}
					Admin
					{% elif user.is_moderator %}
					Moderator
					{% else %}
					User
					{% endif %}
					</p>
				</a>
			{% endfor %}
			</div>
		</div>
	</div>
</div>
<div class="row">
{% for member in Team %}
<div class="modal fade" id="{{member.id}}" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title">User: {{ member.firstname }}</h2>
			</div>
			<div class="modal-body">
			</div>
		</div>
	</div>
</div>	
{% endfor %}

{% endblock %}
