{% macro ListGroups(groups) %}
<table class="table table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Users</th>
			<th>Nodes</th>
		</tr>
	</thead>
	<tbody>
		{% for group in groups %}
		<tr>
			<td>
				<a href="{{url_for('AdminView.AdminGroup', name = serialize(group.name))}}">
				{{group.name}}
				</a>
			</td>
			<td>
				<a href="{{url_for('AdminView.AdminGroup', name = serialize(group.name))}}">
					{{group.description}}
				</a>
			</td>
			<td>
				<a href="{{url_for('AdminView.AdminGroup', name = serialize(group.name))}}">
				{{group.users|count}}
				</a>
			</td>
			<td>
				<a href="{{url_for('AdminView.AdminGroup', name = serialize(group.name))}}">
					{{group.nodes|count}}
				</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endmacro %}

{% macro CreateGroup(Form) %}
{% from "macros/form.html" import render_field_with_errors, render_field %}
<form action="{{url_for('AdminView.AdminGroups')}}" method="POST" class="form-horizontal">
	{{ Form.csfr_token }}
	{{ Form.hidden_tag() }}
	{{ render_field_with_errors(Form.Name) }}
	{{ render_field_with_errors(Form.Description) }}
	{{ render_field_with_errors(Form.Email) }}
	{{ render_field(Form.Submit) }}
</form>
{% endmacro %}

{% macro GroupInfo(Group) %}
{% from "macros/info.html" import Field %}
<div class="row">
	{{Field('Name', Group.name)}}
	{{Field('Description', Group.description)}}
	{{Field('Street', NA)}}
	{{Field('City', NA)}}
</div>
{% endmacro %}

{% macro SelectGroup(user) %}
<div class="form-group">
	<label for="sell">Avalible Groups: </label>
	<select class="form-control" id="GroupsList"></select>
</div>
<form class="form-horizontal">
	<div class="row">
		<div class="col-md-6">
			<p><strong>Name</strong></p>
		</div>
		<div class="col-md-6">
			<p id="Groupname">None</p>
		</div>
		<div class="col-md-6">
			<p><strong>Description</strong></p>
		</div>
		<div class="col-md-6">
			<p id="Groupdesc">None</p>
		</div>
		<div class="col-md-6">
			<p><strong>Users</strong></p>
		</div>
		<div class="col-md-6">
			<p id="Groupusers">None</p>
		</div>
		<div class="col-md-6">
			<p><strong>Nodes</strong></p>
		</div>
		<div class="col-md-6">
			<p id="Groupnodes">None</p>
		</div>
	</div>
</form>
<script>
$(document).ready(function() {
	groupSocket.emit('groups', {'user' : '{{user.email}}'});

	groupSocket.on('groupsrsp', function(groups) {
		var glength = groups.length;
		if (glength < 1) {
			return 
		}
		
		for (var i = 0; i < glength; i++) {
			$('#GroupsList').append('<option>'+  groups[i] + '</option>');
		}
		groupSocket.emit('groupInfoGet', {'name' : groups[0]});
	});

	groupSocket.on('groupInfoRsp', function(group) {
		$('#Groupname').text(group.name);
		$('#Groupdesc').text(group.description);
		$('#Groupusers').text(group.users);
		$('#Groupnodes').text(group.nodes);
	});

	$('#GroupsList').change(function() {
		var name = $('#GroupsList option:selected').text();
		groupSocket.emit('groupInfoGet', {'name' : name});
	});

	function addToGroup() {
		groupname = $('#Groupname').text();
		groupSocket.emit('addToGroup', {'user' : '{{user.email}}', 'group' : groupname});
	}

	groupSocket.on('Reload', function() {
		window.location.reload();
	});
});
</script>

{% endmacro %}
