{% macro ListGroups(groups) %}
<table class="table table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Users</th>
			<th>Nodes</th>
		</tr>
	</thead>
	<tbody>
		{% for group in groups %}
		<tr>
			<td>
				<a href="{{url_for('AdminView.AdminGroup', id = group.id)}}">
				{{group.name}}
				</a>
			</td>
			<td>
				<a href="{{url_for('AdminView.AdminGroup', id = group.id)}}">
					{{group.description}}
				</a>
			</td>
			<td>
				<a href="{{url_for('AdminView.AdminGroup', id = group.id)}}">
				{{group.users|count}}
				</a>
			</td>
			<td>
				<a href="{{url_for('AdminView.AdminUser', id = group.id)}}">
					{{group.nodes|count}}
				</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endmacro %}

{% macro CreateGroup(Form) %}
{% from "macros/form.html" import render_field_with_errors, render_field %}
<form action="{{url_for('AdminView.AdminGroups')}}" method="POST" class="form-horizontal">
	{{ Form.csfr_token }}
	{{ Form.hidden_tag() }}
	{{ render_field_with_errors(Form.Name) }}
	{{ render_field_with_errors(Form.Description) }}
	{{ render_field_with_errors(Form.Email) }}
	{{ render_field(Form.Submit) }}
</form>
{% endmacro %}

{% macro GroupInfo(Group) %}
{% from "macros/info.html" import Field %}
<div class="row">
	{{Field('Name', Group.name)}}
	{{Field('Description', Group.description)}}
	{{Field('Street', NA)}}
	{{Field('City', NA)}}
</div>
{% endmacro %}
