{% macro AverageHeat(node = None, group = None, sensor = None) %}
<div class="row">
	<div class="col-xs-4">
		<h4 style="color: red;">
		0.0
		</h4>
	</div>
	<div class="col-xs-4">
		<h4>
		0.0
		</h4>
	</div>
	<div class="col-xs-4">
		<h4 style="color: blue;">
		0.0
		</h4>
	</div>
</div>
{% endmacro %}

{% macro AveragePower(node = None, group = None, sensor = None) %}
<div class="row">
	<div class="col-xs-4">
		<h4 style="color: red;">
		0.0
		</h4>
	</div>
	<div class="col-xs-4">
		<h4>
		0.0
		</h4>
	</div>
	<div class="col-xs-4">
		<h4 style="color: blue;">
		0.0
		</h4>
	</div>
</div>
{% endmacro %}

{% macro AverageEvents(node = None, group = None, sensor = None) %}
<div class="row">
	<div class="col-xs-4">
		<h4 style="color: red;">
		0.0
		</h4>
	</div>
	<div class="col-xs-4">
		<h4>
		0.0
		</h4>
	</div>
	<div class="col-xs-4">
		<h4 style="color: blue;">
		0.0
		</h4>
	</div>
</div>
{% endmacro %}

{% macro EventList(node = None, group = None, sensor = None) %}
<p>Eventlist..</p>
{% endmacro %}
