{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
					Nodes <small> {{iCPE.alias}} </small>
          <a href="#" data-toggle="modal" data-target="#NodeSettings"
                                          style="position: absolute; right: 0; margin-right: 1vw;">
            <i class="fa fa-cog" aria-hidden="true"></i>
          </a>
        </h1>
             <ol class="breadcrumb">
           <li>
						 <i class="fa fa-map-marker"></i><a href="{{url_for('index')}}"> Dashboard</a>
					 </li>
					 <li>
						 <a href="{{url_for('NodesList')}}"> Node List</a>
					 </li>
					 <li class="active">{{iCPE.mac}}</li>
       </ol>
    </div>
</div>
{% include "flash.html" %}
<div class="row">
	<div class="col-lg-6">
		<div id="map" style="height: 200px; width: 100%;"></div>
	</div>
	<div class="col-lg-3">
		<div class="box" style="height: 200px;">
			<p><strong>Mac: </strong>{{ iCPE.mac }}</p>
			<p><strong>Location: </strong>{{ iCPE.location.street }}, {{ iCPE.location.city }}</p>
			<p><strong>Created on: </strong>{{ iCPE.created_on }}</p>
			<p><strong>Online: </strong>{{ iCPE.online }}</p>
			<p><strong>Last Online: </strong>{{ iCPE.last_online }}</p>
		</div>
	</div>
	<div class="col-lg-3">
		<div class="box" style="height: 200px;">
      <div class="row">
			  <a href="{{ url_for('NodesUpdate', mac=mac) }}" class="col-lg-4">
          <i class="fa fa-refresh fa-3x" aria-hidden="true"></i>
        </a>
			  <a href="{{ url_for('NodesInclude', mac=mac) }}" class="col-lg-4">
          <i class="fa fa-sign-in fa-3x" aria-hidden="true"></i>
        </a>
			  <a href="{{ url_for('NodesExclude', mac=mac) }}" class="col-lg-4">
          <i class="fa fa-sign-out fa-3x" aria-hidden="true"></i>
        </a>
      </div>
      <br>
      <h4><strong>Connection:</strong> <small> - </small></h3>
      <br>
      <h4><strong>Battery:</strong> <small> - </small></h3>
    </div>
	</div>
</div>
<div class="row">
	{% if znodes|length > 0 %}
	{% for znode in znodes %}
	<div class="col-lg-3">
		<h3 style="width: 100%;">
			{{ znode['Alias'] }}
			<a href="#" data-toggle="modal" data-target="#PopCFG{{znode['nodeid']}}" style="position: absolute; right: 0; margin-right: 1vw;">
				<i class="fa fa-cog" aria-hidden="true"></i>
			</a>
		</h3>
    <div class="box">
			<p><strong>{{znode['Brandname'] }}</strong></p>
			<form name="#" class="form-horizontal" method="#">
			{% for field in znode['fields'] %}
			<div class="form-group">
			<label class="col-sm-2 control-label">{{field['class']}}</label>
			<div class="col-sm-5 col-sm-offset-5">
				<input type="{{field['type']}}" value="{{field['value']}}" id="{{znode['nodeid']}}{{field['class']}}" size="10">
			</div>
			</div>
			{% endfor %}
			</form>
		</div>
  </div>
	{% endfor %}
	{% endif %}
</div>
<div class="row">
	<div class="col-lg-12">
    {% if iCPE.powerstat %}
    <div class="col-lg-4">
			<h3>Power Usage</h3>
			<div class="box" style="padding: 0;">
				<div id="PowerChart" style="height: 250px;"></div>
			</div>
		</div>
    {% endif %}
    {% if iCPE.heatstat %}
		<div class="col-lg-4">
			<h3>Heat</h3>
			<div class="box" style="padding: 0;">
				<div id="HeatChart" style="height: 250px;"></div
			></div>
		</div>
    {% endif %}
		<div class="col-lg-4">
			<h3>Notes</h3>
			<div class="box" style="padding: 0;">
				<ol>
					{% for note in iCPE.notes %}
					<li><small>{{note.created_on }} - {{note.author}}</small><br>
						{{note.note}}
					</li>
					{% endfor %}
				</ol>
				<form action="{{url_for('NodesNotesAdd', mac=mac)}}" method="post" class="form-horizonal">
					<div class="form-group">
						<label for="notes">Enter note</label>
						<input type="text" max-length="150" class="form-control" name="note"></input>
						<button type="submit" class="btn btn-default">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="DeleteNode" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title">Confirm Delete</h2>
			</div>
			<div class="modal-body">
				<a href="{{ url_for('DeleteNode', mac=mac) }}"><button class="btn btn-danger">I Confirm</button></a>
			</div>
		</div>
	</div>
</div>
{% for znode in znodes %}
<div class="modal fade" id="PopCFG{{znode['nodeid']}}" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">{{znode['Alias']}}</h4>
			</div>
			<div class="modal-body">
				<h4>Unsupported Classses</h4>
				{% for class in znode['unsupported'] %}
					<p>{{class}}</p>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
</div>
{% endfor %}
<div class="modal fade" id="NodeSettings" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3>{{iCPE.alias}}</h3>
      </div>
      <div class="modal-body">
        <h4>Settings</h4>
      </div>
    </div>
  </div>
</div>
<script>
$(document).ready(function() {
	$(".my-checkbox").bootstrapSwitch();
var marker = L.marker([{{iCPE.location.geolat}}, {{iCPE.location.geolong}}]).addTo(map);

namespace = '/icpeevent';
var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

socket.on('connect', function() {
	socket.emit('join', {room : '{{mac}}'});
});

{% for znode in znodes %}
{% for field in znode['fields'] %}
	{% if field['type'] == 'checkbox' %}
	$("#{{znode['nodeid']}}{{field['class']}}").bootstrapSwitch();
	$("#{{znode['nodeid']}}{{field['class']}}").bootstrapSwitch('size', 'small');
	$("#{{znode['nodeid']}}{{field['class']}}").bootstrapSwitch('state', 
		{% if field['value'] %} true, true {% else %} false, false {% endif %});
	$("#{{znode['nodeid']}}{{field['class']}}").bootstrapSwitch('readonly', 
		{% if field['readonly'] %} true, true {% else %} false, false {% endif %});
	$("#{{znode['nodeid']}}{{field['class']}}").on('switchChange.bootstrapSwitch', function(event, state) {
		socket.emit('event', {mac : "{{iCPE.mac}}", nodeid : "{{znode['nodeid']}}", state : state, class : "{{field['class']}}"});
	});
	{% endif %}
{% endfor %}
{% endfor %}

socket.on('roomevent', function(msg) {
	console.log(msg);
	console.log('roomevent..!');
	if (msg['datatype'] == "<class 'bool'>") {
		$('#'+msg['nodeid']+msg['class']).bootstrapSwitch('state', msg['value'], false)
	} else {
		$('#'+msg['nodeid']+msg['class']).val(msg['value'])
	}
});
new Morris.Line({
	  // ID of the element in which to draw the chart.
	  element: 'PowerChart',

		data: [
		{% for powerstat in iCPE.powerstat %}
		{ x: '{{powerstat.date}}', value: {{'%0.2f' % powerstat.power|float }} },
		{% endfor %}
		],

		xkey : 'x',
		ykeys : ['value'],
		labels : ['Watt']

});
new Morris.Line({
	  // ID of the element in which to draw the chart.
	  element: 'HeatChart',

		data : [
		{% for heatstat in iCPE.heatstat %}
		{ x: '{{heatstat.date}}', value : {{'%0.2f' % heatstat.heat|float }} },
		{% endfor %}
		],
		xkey : 'x',
		ykeys : ['value'],
		labels : ['Celsius']
});


});	
	var map = L.map('map',{
		center: [{{iCPE.location.geolat}}, {{iCPE.location.geolong}}],
    zoom: 12
});

L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);

</script>

{% endblock %}
