{% macro NodeList(nodes = None) %}
<table class="table table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th>Group Name</th>
			<th>Street</th>
			<th>City</th>
		</tr>
	</thead>
	<tbody>
		{% for node in nodes %}
		<tr>
			<td>
				<a href="{{ url_for('NodeView.NodesNode', name = serialize(node.name)) }}">
					{{node.name}}	
				</a>
			</td>
			<td>
				<a href="{{ url_for('NodeView.NodesNode', name = serialize(node.name)) }}">
					
				</a>
			</td>
			<td>
				<a href="{{ url_for('NodeView.NodesNode', name = serialize(node.name)) }}">
					{{node.location.street}}
				</a>
			</td>
			<td>
				<a href="{{ url_for('NodeView.NodesNode', name = serialize(node.name)) }}">
					{{node.location.city}}
				</a>
			</td>
		</a>
	{% endfor %}
	</tbody>
</table>
{% endmacro %}
{% macro ModalSettings(Node, BasicForm, LocationForm) %}
{% from "frontend/macros/form.html" import render_field_with_errors, render_field %}
<div class="modal fade" id="NodeSettings" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3>{{Node.name}}</h3>
      </div>
      <div class="modal-body">
        <h4 class="col-sm-offset-2">Basic Settings</h4>
				<form method="POST" action="{{url_for('NodeView.NodesNode', mac=mac)}}" name="basic">
					{{ BasicForm.csfr_token }}
					{{ BasicForm.hidden_tag() }}
					{{ render_field_with_errors(BasicForm.Alias) }}
					{{ render_field(BasicForm.Submit) }}
				</form>
				<h4 class="col-sm-offset-2">Node Address</h4>
				<form method="POST" action="{{url_for('NodeView.NodesNode', mac=mac)}}" name="address">
					{{ LocationForm.csfr_token }}
					{{ LocationForm.hidden_tag() }}
					{{ render_field_with_errors(LocationForm.Street) }}
					{{ render_field_with_errors(LocationForm.City) }}
					{{ render_field_with_errors(LocationForm.Geolat) }}
					{{ render_field_with_errors(LocationForm.Geolong) }}
					{{ render_field(LocationForm.Submit) }}
				</form>
				<button type="#" class="btn btn-default" data-toggle="modal" data-target="#DeleteNode">Delete Node</button>
				<button type="#" class="btn btn-default">Exit</button>
      </div>
    </div>
  </div>
</div>

<script>
/*
setting values for adddress- form
*/
$('input[name="street"]').val('{{Node.location.street}}');
$('input[name="city"]').val('{{Node.location.city}}');
$('input[name="geolat"]').val('{{Node.location.geolat}}');
$('input[name="geolong"]').val('{{Node.location.geolong}}');
</script>

{% endmacro %}

{% macro ModalDelete() %}
<div class="modal fade" id="DeleteNode" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h2 class="modal-title">Confirm Delete</h2>
			</div>
			<div class="modal-body">
				<a href="{{ url_for('NodeView.DeleteNode', mac=mac) }}"><button class="btn btn-danger">I Confirm</button></a>
			</div>
		</div>
	</div>
</div>
{% endmacro %}


