{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
					Admin <small>Group {{Group.name}}</small>
				</h1>
             <ol class="breadcrumb">
           <li class="active">
						 <i class="fa fa-map-marker"></i><a href="{{url_for('index')}}"> Dashboard</a>
          </li>
					<li class="active">Node List</li>
       </ol>
    </div>
</div>
{% include "flash.html" %}
{% from "macros/group.html" import GroupInfo with context %}
{% from "macros/map.html" import MapGroup %}
{% from "macros/messages.html" import MessageList, emit_group_messages %}
{% from "macros/user.html" import ListUsers with context %}

<div class="row">
	<div class="col-lg-8">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Nodes
			</div>
			<div class="panel-body" style="height: 200px; padding: 0;">
				{{MapGroup(Group.nodes)}}
			</div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
				General Info
			</div>
			<div class="panel-body" style="height: 200px;">
				{{GroupInfo(Group)}}
			</div>
		</div>
	</div>
</div>
{% from "macros/data/group/heat.html" import AverageHeat %}
{% from "macros/data/group/power.html" import AveragePower %}
{% from "macros/data/group/event.html" import AverageEvents %}
<div class="row">
	<div class="col-lg-4">
		{{ AverageHeat(Group) }}
	</div>
	<div class="col-lg-4">
		{{ AveragePower(Group) }}
	</div>
	<div class="col-lg-4">
		{{ AverageEvents(Group) }}
	</div>
</div>
<div class="row">
	<div class="col-lg-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Messages
			</div>
			<div class="panel-body" style="padding: 0";>
				{{MessageList()}}
				{{emit_group_messages(Group)}}
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Users
			</div>
			<div class="panel-body" style="padding: 0";>
				{{ListUsers(Group.users)}}
			</div>
		</div>
	</div>
</div>
<script>
$(document).ready(function() {
});
</script>

{% endblock %}
