{% macro statistics(data) %}
<div class="col-lg-4">
		<div class="box">
			<h2 style="display: inline;">Average node heat</h2>
			<h3 style="display: inline;"> : N/A</h3>
			<br><br>
			<h4 style="display: inline" id="heat-history"></h4>
		</div>
	</div>
 	<div class="col-lg-4">
		<div class="box">
			<h2 style="display: inline;">Power Consumption</h2>
			<h3 style="display: inline;"> : N/A</h3>
			<br><br>
			<h4 style="display: inline" id="power-history"></h4>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="box">
			<h2 style="display: inline;">Events last hour</h2>
			<h3 style="display: inline;"> : N/A</h3>
			<br><br>
			<h4 style="display: inline" id="events-history"></h4>
		</div>
	</div>
	<script>
	// Data for Heat
	var HeatDaily = "N/A";
	// Data for Power
	var PowerDaily = "N/A";
	// Data for Events
	var EventsDaily = "N/A";

	$(document).ready(function() {
		$("#heat-history").text("Daily average: " + HeatDaily + " °C");
		$("#power-history").text("Daily average: " + PowerDaily + " W");
		$("#events-history").text("Daily average: " + EventsDaily);
	})
	</script>
{% endmacro %}
