{% macro GeneralSettings(GeneralForm) %}
{% from "macros/form.html" import render_field_with_errors, render_field %}
<form name="sform" class="form-horizontal" method="post" action="{{url_for('AdminView.AdminServer')}}">
	{{ GeneralForm.csfr_token }}
	{{ GeneralForm.hidden_tag() }}
	{{ render_field_with_errors(GeneralForm.Port) }}
	{{ render_field_with_errors(GeneralForm.Debug) }}
	{{ render_field_with_errors(GeneralForm.Logging) }}
	{{ render_field_with_errors(GeneralForm.SQLDriver) }}
	{{ render_field(GeneralForm.Submit) }}	
</form>
{% endmacro %}
