{% macro CreateNew(Form) %}
{% from "macros/form.html" import render_field_with_errors, render_field, render_submit %}
<div class="modal fade" id="AddMQTT" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h3 class="modal-title">Add MQTT Connection</h3>
			</div>
			<div class="modal-body">
				<form action="{{url_for('AdminView.AdminServer')}}" method="post" class="form-horizontal">
					{{ Form.csfw_token }}
					{{ Form.hidden_tag() }}
					{{ render_field_with_errors(Form.IPAddr) }}
					{{ render_field_with_errors(Form.Port) }}
					{{ render_field_with_errors(Form.Username) }}
					{{ render_field_with_errors(Form.Password) }}
			</div>
			<div class="modal-footer">
					{{ render_submit(Form.Submit) }}
				</form>
			</div>
		</div>
	</div>
</div>
{% endmacro %}

{% macro Settings(mqtt) %}
<div class="modal fade" id="MQTT{{mqtt.id}}" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title">MQTT Settings</h2>
			</div>
			<div class="modal-body">
				MQTT
			</div>
		</div>
	</div>
</div>
{% endmacro %}

{% macro ListMQTT(mqtts, Form) %}
{% from "admin/macros/mqtt.html" import CreateNew, Settings %}
<table class="table table-hover">
	<thead>
		<tr>
			<th>IP</th>
			<th>Port</th>
			<th>Online</th>
		</tr>
	</thead>
	<tbody>
		{% for mqtt in mqtts %}
		<tr>
			<td>
				<a href="#" data-toggle="modal" data-target="#MQTT{{mqtt.id}}">
				{{mqtt.ipaddr}}
				</a>
			</td>
			<td>
				<a href="#" data-toggle="modal" data-target="#MQTT{{mqtt.id}}">
					{{mqtt.port}}
				</a>
			</td>
			<td>
				<a href="#" data-toggle="modal" data-target="#MQTT{{mqtt.id}}">
				-
				</a>
			</td>
		</tr>
		{{ Settings(mqtt) }}
		{% endfor %}
	</tbody>
</table>
{% endmacro %}


