{% macro CreateNew() %}
<div class="modal fade" id="AddMQTT" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title">Add MQTT Connection</h2>
			</div>
			<div class="modal-body">
				MQTT
			</div>
		</div>
	</div>
</div>
{% endmacro %}

{% macro Settings(mqtt) %}
<div class="modal fade" id="MQTT{{mqtt.id}}" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title">MQTT Settings</h2>
			</div>
			<div class="modal-body">
				MQTT
			</div>
		</div>
	</div>
</div>
{% endmacro %}

{% macro ListMQTT(mqtts) %}
{% from "admin/macros/mqtt.html" import CreateNew, Settings %}
<h3>MQTT Connections
	<a href="#" data-toggle="modal" data-target="#AddMQTT" style="position: absolute; right: 0; margin-right: 1vw;">
		<i class="fa fa-plus" aria-hidden="true"></i>
	</a>
</h3>
{{ CreateNew() }}
<table class="table table-hover">
	<thead>
		<tr>
			<th>IP</th>
			<th>Port</th>
			<th>Online</th>
		</tr>
	</thead>
	<tbody>
		{% for mqtt in mqtts %}
		<tr>
			<td>
				<a href="#" data-toggle="modal" data-target="#MQTT{{mqtt.id}}">
				{{mqtt.ipaddr}}
				</a>
			</td>
			<td>
				<a href="#" data-toggle="modal" data-target="#MQTT{{mqtt.id}}">
					{{mqtt.port}}
				</a>
			</td>
			<td>
				<a href="#" data-toggle="modal" data-target="#MQTT{{mqtt.id}}">
				-
				</a>
			</td>
		</tr>
		{{ Settings(mqtt) }}
		{% endfor %}
	</tbody>
</table>
{% endmacro %}


