{% macro LoggingSettings() %}
{% from "macros/info.html" import FieldID %}
{{ FieldID('Type', '-', 'loggType') }}

<script>
adminSocket.emit('loggType');

adminSocket.on('loggType', function(loggtype) {
	if (loggtype == 'LOCAL') {
		adminSocket.emit('loggFile');
		$('#loggType').text('Local');
		$('#loggingPanel').append('<div class="col-lg-6"><strong>File Name:</strong></div><div class="col-lg-6"><p id="loggingFile">-</p></div>');
	}
	else if (loggtype == 'SYSLOG') {
		adminSocket.emit('syslogAddress');
		adminSocket.emit('syslogPort');
		$('#loggType').text('Syslog');
		$('#loggingPanel').append('<div class="col-lg-6"><strong>File Name:</strong></div><div class="col-lg-6"><p id="syslogAddress">-</p></div>');
		$('#loggingPanel').append('<div class="col-lg-6"><strong>File Name:</strong></div><div class="col-lg-6"><p id="syslogPort">-</p></div>');
	}
});
adminSocket.on('loggFile', function(name) {
	$('#loggingFile').text(name)
});
adminSocket.on('syslogAddress', function(address) {
	$('#syslogAddress').text(address);
});
adminSocket.on('syslogPort', function(port) {
	$('#syslogPort').text(port);
});
</script>
{% endmacro %}

{% macro DatabaseSettings() %}
{% from "macros/info.html" import FieldID %}
{{ FieldID('Engine', '-', 'dbEngine') }}

	<script>
adminSocket.emit('dbEngine');

adminSocket.on('dbEngine', function(engine) {
	if (engine.toUpperCase() == 'SQLITE') {
		$('#dbEngine').text('SQLite');
		adminSocket.emit('dbFile');
		$('#databasePanel').append('<div class="col-lg-6"><strong>File Name:</strong></div><div class="col-lg-6"><p id="dbFile">-</p></div>');
	}
	else {
		$('#dbEngine').text(engine);
		adminSocket.emit('dbServer');
		adminSocket.emit('dbPort');
		$('#databasePanel').append('<div class="col-lg-6"><strong>Server Address:</strong></div><div class="col-lg-6"><p id="dbServer">-</p></div>');
		$('#databasePanel').append('<div class="col-lg-6"><strong>Server Port:</strong></div><div class="col-lg-6"><p id="dbPort">-</p></div>');
	}
});
adminSocket.on('dbFile', function(name) {
	$('#dbFile').text(name);
});
adminSocket.on('dbServer', function(server) {
	$('#dbServer').text(server);
});
adminSocket.on('dbPort', function(port) {
 $('#dbPort').text(port);
});
	</script>
{% endmacro %}

{% macro CelerySettings() %}
{% from "macros/info.html" import FieldID %}
{{ FieldID('Broker', '-', 'celeryBroker') }}
{{ FieldID('Server', '-', 'celeryServer') }}
{{ FieldID('Port', '-', 'celeryPort') }}
{{ FieldID('Database', '-', 'celeryDatabase') }}

	<script>
adminSocket.on('celeryBroker', function(broker) {
	$('#celeryBroker').text(broker);
});
adminSocket.on('celeryServer', function(server) {
	$('#celeryServer').text(server);
});
adminSocket.on('celeryPort', function(port) {
  $('#celeryPort').text(port);
});
adminSocket.on('celeryDatabase', function(database) {
 $('#celeryDatabase').text(database);
});

adminSocket.emit('celeryBroker');
adminSocket.emit('celeryServer');
adminSocket.emit('celeryPort');
adminSocket.emit('celeryDatabase');

	</script>
{% endmacro %}

{% macro MailSettings() %}
{% from "macros/info.html" import FieldID %}
{{ FieldID('Server', '-', 'mailServer') }}
{{ FieldID('Port', '-', 'mailPort') }}
{{ FieldID('TLS', '-', 'mailTLS') }}
{{ FieldID('SSL', '-', 'mailSSL') }}

	<script>
adminSocket.on('mailServer', function(server) {
	$('#mailServer').text(server);	
});
adminSocket.on('mailPort', function(port) {
 $('#mailPort').text(port);
});
adminSocket.on('mailTLS', function(tls) {
 $('#mailTLS').text(tls);
});
adminSocket.on('mailSSL', function(ssl) {
 $('#mailSSL').text(ssl);
});

adminSocket.emit('mailServer');
adminSocket.emit('mailPort');
adminSocket.emit('mailTLS');
adminSocket.emit('mailSSL');

	</script>
{% endmacro %}
