{% macro GroupEventList(length = 20) %}
<div class="panel panel-primary">	
	<div class="panel-heading">
		Events
	</div>
	<div class="panel-body" style="padding: 0;">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Event</th>
					<th>Node</th>
					<th>Sensor</th>
					<th>Date</th>
				</tr>
			</thead>
			<tbody id="groupeventtable">
			</tbody>
		</table>		
	</div>
</div>
{% if current_user.groups[0] %}
	<script>
var group = "{{current_user.groups[0].name}}";
var tableRef = document.getElementById("groupeventtable");
var length = "{{length}}";
console.log(group);

dataSocket.on('groupEvents', function(events) {
	for (i = 0; i < events.length; i++) {
		var newRow = tableRef.insertRow(i);

		var eventCell = newRow.insertCell(0);
		var eventText = document.createTextNode(events[i].value);
		eventCell.appendChild(eventText);

		var nodeCell = newRow.insertCell(1);
		var nodeText = document.createTextNode(events[i].node);
		nodeCell.appendChild(nodeText);

		var sensorCell = newRow.insertCell(2);
		var sensorText = document.createTextNode(events[i].sensor);
		sensorCell.appendChild(sensorText);

		var dateCell = newRow.insertCell(3);
		var dateText = document.createTextNode(moment(events[i].date, "YYYYMMDD, hh:mm:ss").fromNow());
		dateCell.appendChild(dateText);
	}
});
dataSocket.emit('groupEvents', {'group' : group, 'length' : length});
	</script>
{% endif %}
{% endmacro %}

{% macro iCPEEventList(iCPE, length = 20) %}
<div class="panel panel-primary">	
	<div class="panel-heading">
		Events
	</div>
	<div class="panel-body" style="padding: 0;">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Event</th>
					<th>Sensor</th>
					<th>Date</th>
				</tr>
			</thead>
			<tbody id="{{iCPE.macaddr}}eventtable">
			</tbody>
		</table>		
	</div>
</div>
	<script>
var iCPE = "{{iCPE.macaddr}}";
var tableRef = document.getElementById("{{iCPE.macaddr}}eventtable");
var length = "{{length}}";

dataSocket.on('icpeEvents', function(events) {
	console.log('icpeEvents');
	for (i = 0; i < events.length; i++) {
		console.log(i);
		var newRow = tableRef.insertRow(i);

		var eventCell = newRow.insertCell(0);
		var eventElement = document.createElement("i");
		eventElement.className += events[i].icon
		eventCell.appendChild(eventElement);

		var sensorCell = newRow.insertCell(1);
		var sensorText = document.createTextNode(events[i].sensor);
		sensorCell.appendChild(sensorText);

		var dateCell = newRow.insertCell(2);
		var dateText = document.createTextNode(moment(events[i].date, "YYYYMMDD, hh:mm:ss").fromNow());
		dateCell.appendChild(dateText);
	}
});
dataSocket.emit('icpeEvents', {'iCPE' : iCPE, 'length' : length});
	</script>
{% endmacro %}

{% macro SensorEventList(length = 20) %}
<div class="panel panel-primary">	
	<div class="panel-heading">
		Events
	</div>
	<div class="panel-body" style="padding: 0;">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Event</th>
					<th>Sensor</th>
					<th>Date</th>
				</tr>
			</thead>
			<tbody id="sensoreventtable">
			</tbody>
		</table>		
	</div>
</div>
	<script>
var tableRef = document.getElementById("sensoreventtable");
var length = "{{length}}";

dataSocket.on('icpeEvents', function(events) {
	console.log('icpeEvents');
	for (i = 0; i < events.length; i++) {
		console.log(i);
		var newRow = tableRef.insertRow(i);

		var eventCell = newRow.insertCell(0);
		var eventText = document.createTextNode(events[i].value);
		eventCell.appendChild(eventText);

		var sensorCell = newRow.insertCell(1);
		var sensorText = document.createTextNode(events[i].sensor);
		sensorCell.appendChild(sensorText);

		var dateCell = newRow.insertCell(2);
		var dateText = document.createTextNode(moment(events[i].date, "YYYYMMDD, hh:mm:ss").fromNow());
		dateCell.appendChild(dateText);
	}
});
	</script>
{% endmacro %}
