{% macro iCPEPowerGraph(iCPE) %}
<div class="panel panel-primary">
	<div class="panel-heading">
		Power Usage
	</div>
	<div class="panel-body" style="padding: 0; height: 250px">
		<div id="iCPEPowerChart" style="height: 100%"></div>
	</div>
</div>
<script>
var icpe = "{{iCPE.macaddr}}";
dataSocket.on('icpePower', function(powerdata) {
	var powerData = [];
	for (i = 0; i < powerdata.length; i++) {
		powerData.push({'date' : powerdata[i].date, 'average' : powerdata[i].average, 'high' : powerdata[i].high, 'low' : powerdata[i].low})
	}
	console.log(powerData);
	new Morris.Line({
	// ID of the element in which to draw the chart.
	element: 'iCPEPowerChart',
	data : powerData,
	xkey : 'date',
	ykeys : ['average', 'high', 'low'],
	labels : ['Average', 'High', 'Low']
});
})

dataSocket.emit('icpePower', {'icpe' : icpe});
</script>
{% endmacro %}
